/*------------------------------------------------ 
    Modules 
------------------------------------------------*/

@media (min-width: $width-desktop) {
    .bg-pattern {
        width: 100vw;
        height: 235px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -9999;
    }
}

/* Headers */

.headings {
    &__title {
        font-size: 2.4rem;
        font-weight: $font-bold;
        line-height: 3.2rem;
    }
    &__subheader {
        font-size: 1.4rem;
        font-weight: $font-bold;
        line-height: 2.4rem;
        padding-bottom: 1.6rem;
        position: relative;
        @media (min-width: $width-desktop) {
            padding: 0;
        }
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: $dark-grayish-blue-text;
            @media (min-width: $width-desktop) {
                display: none;
            }
        }
    }
}

.bottom-grid__header {
    margin-top: 4rem;
    font-size: 2.4rem;
    font-weight: $font-bold;
    line-height: 3.2rem;
}

/* Toggle */

.toggle-mode {
    display: inline-flex;
    align-items: center;
    margin-top: 1.6rem;
    cursor: pointer;
    @media (min-width: $width-desktop) {
        margin: 0;
    }
    &__label {
        margin-right: 8px;;
        font-size: 1.4rem;
        font-weight: $font-bold;
    }
}

.toggle {
    isolation: isolate;
    position: relative;
    height: 24px;
    width: 48px;
    border-radius: 15px;
    background: #d6d6d6;
    overflow: hidden;
    &-state {
        display: none;
    }
    &-inner {
        z-index: 2;
        position: absolute;
        top: 1px;
        left: 1px;
        height: 22px;
        width: 46px;
        border-radius: 15px;
        overflow: hidden;
        &-indicator {
            height: 100%;
            width: 200%;
            background: white;
            border-radius: 25px;
            transform: translate3d(-75%, 0, 0);
            transition: transform 0.35s cubic-bezier(0.85, 0.05, 0.18, 1.35);
        }
    }
    &-active-bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 200%;
        background: #003dda;
        transform: translate3d(-100%, 0, 0);
        transition: transform 0.05s linear 0.17s;
    }
}

.toggle-state:checked ~ .toggle-active-bg {
    transform: translate3d(-50%, 0, 0);
 }
 
.toggle-state:checked ~ .toggle-inner .toggle-inner-indicator {
    transform: translate3d(25%, 0, 0);
 }


/* Cards */

.top-card {
    display: block;
    margin-top: 2.4rem;
    padding: 3.2rem;
    text-align: center;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    @media (min-width: $width-desktop) {
        margin: 0;
    }
    &:nth-child(1) {
        margin-top: 0;
        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            position: absolute;
            top: 0;
            left: 0;
            background: $facebook;
        }
    }
    &:nth-child(2) {
        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            position: absolute;
            top: 0;
            left: 0;
            background: $twitter;
        }
    }
    &:nth-child(3) {
        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            position: absolute;
            top: 0;
            left: 0;
            background: hsl(37, 97%, 70%);
            background: $instagram;
        }
    }
    &:nth-child(4) {
        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            position: absolute;
            top: 0;
            left: 0;
            background: $youTube;
        }
    }
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        &-icon {
            display: block;
            width: 24px;
            height: 24px;
        }
        &-text {
            padding-left: 8px;
            font-size: 1.4rem;
            font-weight: $font-bold;
        }
    }
    &__data {
        &-stats {
            padding-top: 4rem;
            font-size: 5.6rem;
            line-height: 2.4rem;
            font-weight: $font-bold;
            letter-spacing: -0.05ch;
            span {
                display: block;
                padding-top: 1.6rem;
                font-size: 1.4rem;
                line-height: 2.4rem;
                font-weight: $font-normal;
                text-transform: uppercase;
                letter-spacing: 0.45ch;
            }
        }
        &-metrics--up {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 2.4rem;
            font-size: 1.4rem;
            font-weight: $font-bold;
            line-height: 1.6rem;
            color: $lime-green;
            .arrow {
                display: block;
                width: 12px;
                height: 4px;
                background-image: url(/images/icon-up.svg);
                background-repeat: no-repeat;
            }
        }
        &-metrics--down {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 2.4rem;
            font-size: 1.4rem;
            font-weight: $font-bold;
            line-height: 1.6rem;
            color: $bright-red;
            .arrow {
                display: block;
                width: 12px;
                height: 4px;
                background-image: url(/images/icon-down.svg);
                background-repeat: no-repeat;
            }
        }
    }
}

.bottom-card {
    display: block;
    margin-top: 2.4rem;
    padding: 2.4rem;
    text-align: center;
    border-radius: 6px;
    @media (min-width: $width-desktop) {
        margin: 0;
    }
    &:nth-child(1) {
        margin-top: 0;
    }
    &__social {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        &-icon {
            display: block;
            width: 24px;
            height: 24px;
        }
        &-text {
            font-size: 1.4rem;
            font-weight: $font-bold;
        }
    }
    &__data {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-top: 4rem;
        &-stats {
            font-size: 3.2rem;
            line-height: 2.4rem;
            font-weight: $font-bold;
            letter-spacing: -0.05ch;
        }
        &-metrics--up {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.4rem;
            font-weight: $font-bold;
            line-height: 1.6rem;
            color: $lime-green;
            .arrow {
                display: block;
                width: 12px;
                height: 4px;
                background-image: url(/images/icon-up.svg);
                background-repeat: no-repeat;
            }
        }
        &-metrics--down {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.4rem;
            font-weight: $font-bold;
            line-height: 1.6rem;
            color: $bright-red;
            .arrow {
                display: block;
                width: 12px;
                height: 4px;
                background-image: url(/images/icon-down.svg);
                background-repeat: no-repeat;
            }
        }
    }
}

/* Attribution */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: $desaturated-blue-text; }